@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color:green;
  font-weight: bold;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

input[type="checkbox"] {
  appearance: none;
  background: hsla(52, 90%, 51%, 0.5);;
  border: 2px solid green;
  height: 2em;
  width:3em;
  border-radius: 60%;
  vertical-align: text-bottom;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}
input[type="checkbox"]:checked::before {
  border-right: 5px solid green;
  border-bottom: 6px solid green;
  height: 90%;
  width: 45%;
  transform: rotate(60deg) translateY(-20%) translateX(15%);
}
input[type="checkbox"]:focus {
  outline: solid 1px green;
  outline-offset: 2px;
}